
	<!-- Formato Captura -->
	<div class="row-fluid">
    	<div id="captura-left" class="span9">
			<div class="widgetbox">
				<div class="headtitle">
            	<div class="btn-group">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">Acciones <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                        	<a href="{{NeuralRutasApp.RutaURLBase}}AdministradorGeneral/Farmacos/ListarFarmacos"><i class="iconfa-remove"></i>&nbsp;Cancelar</a>
                    	</li>
                  	</ul>
             	</div>
				<h4 class="widgettitle">Registro de Fármaco</h4>
				</div>
				
				<div class="widgetcontent">
					<form class="stdform" method="post" action="{{NeuralRutasApp.RutaURLBase}}AdministradorGeneral/Farmacos/GuardarNuevoFarmacos" id="Form" name="Form" >

						<div class="par control-group">
							<label class="control-label">Categoria</label>
							<div class="controls">
								
								<select id="Categoria" name="Categoria" class="uniformselect">
								<option value="">Selecciona una Categoria</option>
								{% for Dato in Consulta %}
								<option value="{{Dato.Id}}">{{Dato.Descripcion}}</option>
								{% endfor %}
								</select>
									 
							</div>
						</div>
						
						<div class="par control-group">
							<label class="control-label" for="Codigo">Código</label>
							<div class="controls">
								<input type="text" name="Codigo" id="Codigo" class="input-xlarge" placeholder="Código del Fármaco" />
							</div>
						</div>
						
						<div class="par control-group">
							<label class="control-label" for="Nombre_Comercial">Nombre Comercial</label>
							<div class="controls">
								<input type="text" name="Nombre_Comercial" id="Nombre_Comercial" class="input-xlarge" placeholder="Nombre Comercial del farmaco" />
							</div>
						</div>

						<div class="par control-group">
							<label class="control-label" for="Nombre_Generico">Nombre Genérico</label>
							<div class="controls">
								<input type="text" name="Nombre_Generico" id="Nombre_Generico" class="input-xlarge" placeholder="Nombre Generico" />
							</div>
						</div>

						<div class="par control-group">
							<label class="control-label" for="Precio_Venta">Precio de Venta</label>
							<div class="controls">
								<input type="text" name="Precio_Venta" id="Precio_Venta" class="input-small" placeholder="Precio Venta" />
							</div>
						</div>

						<div class="par control-group">
							<label class="control-label" for="Unidad">Unidad</label>
							<div class="controls">
								<input type="text" name="Unidad" id="Unidad" class="input-small" placeholder="Unidad del Farmaco" />
							</div>
						</div>

						<div class="par control-group">
							<label class="control-label" for="Nombre_Generico">Tipo de Unidad</label>
							<div class="controls">
								<select id="Tipo_Unidad" name="Tipo_Unidad" class="uniformselect">
								<option value="">Selecciona una Unidad</option>
								{% for Datos in Unidades %}
								<option value="{{Datos.Id}}">{{Datos.Descripcion}}</option>
								{% endfor %}
								</select>
								
							</div>
						</div>

						<p class="stdformbutton">
                    		<button type="submit" class="btn btn-primary"><i class="iconfa-ok"></i>&nbsp;&nbsp;Guardar Datos</button>
                  		</p>

						<!-- Key Validacion -->
						<input type="hidden" id="Validacion" name="Validacion" value="{{Validacion}}" />

					</form>
				</div>
			</div>
		</div>
 		<div id="captura-right" class="span3">
 			<h5 class="subtitle">Nota:</h5>
        	<div class="alert alert-success">
            	<button data-dismiss="alert" class="close" type="button">&times;</button>
               	<h4>Información!</h4>
            	<p style="margin: 8px 0">Nuevos elementos será agregados al sistema.</p>
            </div>
        </div>		
	</div>		
 
