    
    <ul class="list-nostyle list-inline">
        <li>
            <a class="btn btn-rounded" href="{{NeuralRutasApp.RutaURLBase}}AdministradorGeneral/Sucursales/AgregarVisualizar"><i class="iconfa-external-link"></i> &nbsp;Agrega Nuevo Registro</a>
        </li>
    </ul>
 				
    <h4 class="widgettitle">Listado de sucursales</h4>
    <table id="dyntable" class="table table-bordered table-hover">
        <colgroup>
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
            <col class="con0" />
        </colgroup>
        <thead>
            <tr>
                <th class="head0 center">No.</th>
                <th class="head1">Nombre</th>
                <th class="head0">Estado</th>
                <th class="head1">Reponsable</th>
                <th class="head1 center">Status</th>
                <th class="head0 nosort center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% set Contador = 0 %}
            {% for Listado in Listado %}
            {% set Contador = Contador + 1 %}
            <tr class="gradeC">
                <td class="center">{{Contador}}</td>
                <td>{{Listado.Nombre}}</td>
                <td>{{Listado.Estado}}</td>
                <td>{{Listado.Responsable}}</td>
                {% if Listado.Status == "ACTIVO" %}
                    <td class="center"><span class="label label-success">{{Listado.Status}}</span></td>
                {% elseif Listado.Status == "INACTIVO" %}
                    <td class="center"><span class="label label-info">{{Listado.Status}}</span></td>
                {% elseif Listado.Status == "SUSPENDIDO" %}
                    <td class="center"><span class="label label-warning">{{Listado.Status}}</span></td>
                {% elseif Listado.Status == "ELIMINADO" %}
                    <td class="center"><span class="label label-important">{{Listado.Status}}</span></td>
                {% endif %}
                <td class="center">
                    <ul class='list-nostyle list-inline tooltipsample'>
                        <li>
                            <a href='{{NeuralRutasApp.RutaURLBase}}AdministradorGeneral/Sucursales/MostrarSucursales/{{Listado.Id|Encriptacion}}' data-placement='top' data-rel='tooltip' data-original-title='Mostrar' class="btn btn-circle"><i class='iconfa-eye-open'></i></a>
                        </li>
                        <li>
                            <a href='{{NeuralRutasApp.RutaURLBase}}AdministradorGeneral/Sucursales/ModificarSucursales/{{Listado.Id|Encriptacion}}' data-placement='top' data-rel='tooltip' data-original-title='Editar' class="btn btn-circle"><i class='iconfa-pencil'></i></a>
                        </li>
                        <li>
                            <a href='{{NeuralRutasApp.RutaURLBase}}AdministradorGeneral/Sucursales/EliminarSucursales/{{Listado.Id|Encriptacion}}' data-placement='top' data-rel='tooltip' data-original-title='Eliminar' class="btn btn-circle"><i class='iconfa-trash'></i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
