<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medical - Control de Expedientes</title>

    <!-- Hojas de Estilo !-->
    {% block head %}
        {# Carga Hojas de Estilos #}
    {% endblock head %}

</head>

<!-- Cuerpo del HTML !-->
<body class="loginpage">

{% block contenido %}
    {# Contenido #}
{% endblock contenido %}

<!-- Pie de Pagina !-->
{% block footer %}
    {# Pie de Pagina #}
{% endblock footer %}

</body>
<!-- #Cuerpo del HTML !-->

<!-- Javascripts !-->
{% block javascript %}
    {# Contenido de javascript #}
{% endblock javascript %}
</html>