{% extends "Categorias/Index.html" %}

{% block Encabezado %}
<div class="pageheader">
	<div class="pageicon"><span class="iconfa-folder-open"></span></div>
    <div class="pagetitle">
        <h5>Listado de Categorias</h5>
        <h1>CATEGORIAS</h1>            
    </div>
</div>
{% endblock Encabezado %}

{% block Contenido %}
    {% include 'Categorias/ListadoCategorias.html' %}
{% endblock Contenido %}

{% block scripts %}
	{% include 'Categorias/Parts/JSListadoCategorias.html' %}
{% endblock scripts %}
