{% extends "SinPermisos/Base.html" %}

{% block Contenido %}
    <div class="errortitle">
        <h4 class="animate0 fadeInUp">El Usuario, No Autorizado.</h4>
        <span class="animate1 bounceIn">E</span>
        <span class="animate2 bounceIn">R</span>
        <span class="animate3 bounceIn">R</span>
        <span class="animate3 bounceIn">O</span>
        <span class="animate3 bounceIn">R</span>
        <div class="errorbtns animate4 fadeInUp">
            <a href="{{NeuralRutasApp.RutaURLBase}}" class="btn btn-large">Inicio</a>
        </div>
    </div>
{% endblock Contenido %}
